*{
    font-family: 'Old Standard TT', serif;
}

html{
    font-size: 100%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 6rem;
    background-color: #000000;
    color: white;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 6rem;
    background-color: #000000;
    color: white;
    position: sticky;
    top: 0;
}

.mainContainer{
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100vw;
    height: auto;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 25rem;
    position: sticky;
    top: 6rem;
    border: 3px solid green;
}

.profileImg{
    border: 3px solid red;
    border-radius: 50%
}

.mainArticleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35rem;
    height: auto;
    border: 3px solid red;

}

.articleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    height: auto;
    border: 3px solid black;

}

.articleTitle{
    color: white;
}

.articleDate{
    color: white;
}

.articleText{
    text-align: left;
    width: 100%;
    height: 20rem;
    color: white;
}

.readMoreBtn{
    margin-top: auto;
}

.aboutMeText{
    color: white;
}

/* Lay-out of the articles when clicked*/
.articleRealContainer{
    display: none;
}

.article{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    height: auto;
    border: 0.3rem solid white;
    border-radius: 0.1rem;
    box-shadow: 0 0 1rem rgb(6, 114, 24), 0 0 10rem rgb(6, 114, 24);
}

.articleHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.inArticleTitle{
    color: white;
    text-align: center;
    font-size: 3rem;
}

.inArticleSubtitle{
    color: white;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 0;
    font-size: 2rem;
}

.exitBtn{
    justify-self: flex-end;
    color: gray;
}

#returnBtn1ID{
    display: none;
}

.theText{
    color: white;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    line-height: 1.6;
}

.theTextIndented{
    color: white;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    text-indent: 2rem;
    line-height: 1.6;
}

.imageContainer{
    width: 20rem;
    height: 20rem;
    border: 0.2rem solid red;
    position: sticky;
    top: 12rem;
}

.sideImg{
    width: 100%;
    height: 100%;
}

@keyframes noAnimation{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes disappear{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}